ul > li:nth-child(3) a .nav-text{
  color: rgb(21, 214, 21) !important;
}

section{
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  overflow: auto;
}

.section-head{
  width: 100%;  
}

.skll-ttl{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: 7px solid black;
  padding: 1.5rem 2.3rem;
  border-radius: 3rem;  
  width: 20%;
}

.skills-set{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;
  text-align: center;
}

.skill1,.skill2, .skill3{
  width: 25%;
  border: 1px solid black;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.skill1{
  background-color: green;
}

.skill2{
  background-color: red;
}

.skill3{
  background-color: blue;
}
.skill-ttl{
  color: rgb(212, 227, 139);
}
.skill-desc{
  height: 40%;
  color: white;
  text-align: justify;
  width: 90%;
  font-size: 1.1rem;
  text-indent: 2rem;
  line-height: 1.5rem;
}

.see-more{
  width: 30%;
  height: 8%;
  border-radius:4rem;
  font-size: 1rem;
  background-color: rgb(64, 233, 64);
  color: rgb(46, 41, 41);
  border: none;
  cursor: pointer;
}

.programming-tools{
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.programming-tools.active{
  display: flex;
}

.programming{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
}
.other-tools{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40%;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
}

.programming{
  font-size: 1.5rem;
  flex-direction: column;
}


.other-tools{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.prog-tools{
   display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;

} 

.design-tools{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 40%;
  font-size: 1.3rem;
}

.skill {
  justify-content: space-between;
  align-items: center;
  width: 70%;
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.programmings{
  width: 20%;
}
.meter-container {
  background-color: #ddd;
  height: 2rem;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 100rem;
  margin-top: 5px;
}

.meter-fill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  color: white;
  height: 100%;
  padding-inline: 0.5rem;
  background-color: #4caf50;
  width: 0;
  transition: width 1s ease-in-out;
  border-radius: 10px;
}

